.navbar {
  background: linear-gradient(200deg, rgb(28, 27, 27) 0%, goldenrod);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1vw;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 1rem;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2rem 1rem;
  height: 100%;
}
.nav-links-logout {
  color: red;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar {
    background: linear-gradient(200deg, rgb(28, 27, 27) 0%, goldenrod);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1vw;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 1rem;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem 1rem;
    height: 100%;
    display: table;
  }

  .nav-links-logout {
    color: red;
    display: table;
    align-items: center;
    text-decoration: none;
    padding: 2rem 1rem;
    height: 100%;
  }

  .navbar-logo {
    
    font-size: 1.5rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 615px) {
  .navbar-logo {
    
    display: none;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1vw;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 1rem;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  }

}