.search-input{
    border-radius: 4px;
    border-color: #242424;
    width: 40%;
    height: 32px;
}

.enter-button{
    border-radius: 4px;
    border: none;
    width: 10%;
    height: 36px;
    background-color: #242424;
    color: #fff;
}

.searchItem{
    border:solid 1px #242424;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.searchItem:hover{
    background-color:antiquewhite;
}

.searchResults{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
}